body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: hidden;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navbar .brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.select-username {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.select-username h2 {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    margin: 5px;
    padding: 10px;
    border: none;
    background: #e0e0e0;
    font-size: 16px;
    color: #000000;
    flex: 1;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    background: #0b73eb;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

button:hover {
    box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}
